/*Accounted for*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/*Accounted for*/
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/*Accounted for*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/*Accounted for*/
.description {
  white-space: pre-wrap;
}
/*Accounted for*/
.time-block {
  text-align: center;
  border-radius: 15px;
}
/*Accounted for*/
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
/*Accounted for*/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/*Accounted for*/
.past {
  background-color: #d3d3d3;
  color: white;
}
/*Accounted for*/
.present {
  background-color: #ff6961;
  color: white;
}
/*Accounted for*/
.future {
  background-color: #77dd77;
  color: white;
}
/*Accounted for*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}
/*Accounted for*/
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}